.home-container {
  height: calc(100vh - 100px);
  width: 100%;
  background-image: url(./../assets/mainbg1.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
